<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Computer</th>
      <th>Introduction</th>
    </tr>
  </thead>
  <tbody>
  <% computers.forEach((computer) => { %>
    <tr>
      <td><a href='<%=computer%>/' class='btn btn-info'>view</a></td>
      <td><a href='<%=computer%>/'><code><%=computer%></code></a></td>
      <td><%= system[computer].intro %></td>
    </tr>
  <% }) %>
  </tbody>
</table>
